MONGO_URI=mongodb://llm_engineering:llm_engineering@localhost:27017/linkedin_warehouse?authSource=admin
MONGO_DB=linkedin_warehouse
MONGO_COLLECTION=profiles

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=

QDRANT_COLLECTION=profiles
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
VECTOR_SIZE=384