MONGO_URI=mongodb://llm_engineering:llm_engineering@localhost:27017/github_warehouse?authSource=admin
MONGO_DB=github_warehouse
MONGO_COLLECTION=github_commits

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=github_commits

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
VECTOR_SIZE=384